.weather-app {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px 0 30px;
  border: 1px solid rgb(149, 148, 148, 0.4);
}
body {
  padding-top: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#search-button {
  border-radius: 10px;
  padding: 5px;
  color: rgb(78, 77, 77);
  background: rgb(218, 215, 215);
  border: none;
}

#current-position {
  border-radius: 10px;
  padding: 5px;
  color: white;
  background: rgb(78, 77, 77);
  border: none;
}
.city-overview {
  background: rgb(149, 148, 148, 0.4);
  padding: 10px;
  margin: 20px 0 20px;
}
.current-temp,
.current-characteristics,
.day,
.time,
.forecast-day,
.min-temp,
.max-temp {
  color: rgb(78, 77, 77);
}

.forecast-day {
  font-weight: bold;
  font-size: 24px;
}
.max-temp {
  font-weight: bold;
  font-size: 18px;
}

.min-temp {
  font-weight: light;
}

.time {
  font-size: 24px;
}

.current-temp {
  font-size: 36px;
}

#units {
  font-size: 16px;
}
a {
  text-decoration: none;
}
#units .active {
  color: rgb(78, 77, 77);
  cursor: default;
  text-decoration: none;
}

#units .active:hover {
  color: rgb(78, 77, 77);
  text-decoration: none;
}

.current-characteristics {
  list-style: none;
  margin: 0;
  padding: 0;
}

#current-description {
  text-transform: capitalize;
}

.day,
.time {
  text-align: right;
}

.favorites {
  padding-top: 20px;
}

.card {
  border: 0;
}

#current-icon {
  font-size: 72px;
}

#forecast {
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px;
}

.author {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
